.nav{
    display: flex;
    gap: 1.2rem;
}
.navLink:link,.navLink:visited{
    text-decoration: none;
    font-size: 1.1rem;
    color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navLink:hover,.navLink:active{
    color:#FFD700
}

@media (max-width: 768px) {
    .nav {
      display: none; 
      flex-direction: column;
      background-color: #004d00;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      text-align: center;
      padding: 10px;
    }
    .nav.show{
        display: flex;
    }
}